NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyC-lmGzbbqryBvbc7sQUCUEYxE9lfUbiz0
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=kang-minguk.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=kang-minguk
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=kang-minguk.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=920604616289
NEXT_PUBLIC_FIREBASE_APP_ID=1:920604616289:web:a764df1c6320fe626f2c20
